<h2 mat-dialog-title>Edition de {{data.name}}</h2>
<mat-dialog-content class="content">
  <mat-form-field>
    <mat-label>Nom du modèle</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre de polygones</mat-label>
    <input matInput [(ngModel)]="data.polygons">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Auteur du modèle</mat-label>
    <input matInput [(ngModel)]="data.author">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description du modèle</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Mettre à jour</button>
  <button mat-flat-button color="warn" (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>
