mat-toolbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #191D20;

  button.add-model-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2986FD;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: transparent;
    margin-right: 20px;
    &:hover {
      background-color: #1E5FED;
      cursor: pointer;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  .main-list-container {
    flex: 30%;
    margin: 10px 0px;
    max-width: 360px;
  }
  .model-container {
    flex: 65%;
    margin: 10px 0px;
    border-radius: 10px;
  }
}


.search-container {

  padding: 10px 20px;
  margin-top: 20px;

}
