<mat-toolbar>

  <!--Search a model by his name -->
  <div class="search-container">

      <mat-form-field appearance="outline" class="search-form-field">
        <mat-label>Chercher un modèle 3D</mat-label>
        <input type="text"
               placeholder="Chercher par nom"
               aria-label="Nom"
               matInput
               [formControl]="modelName"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (model of mes_modeles; track model) {
            <mat-option [value]="model.modelName">{{model.modelName}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

  </div>

  <!--Add a new model -->
  <button mat-button (click)="openDialog()" class="add-model-btn">
    <mat-icon>
      add
    </mat-icon>
    <span>Ajouter un modèle 3D</span>
  </button>

</mat-toolbar>


<div class="content-container">
  <div class="main-list-container">
      <app-list style="display: flex;" [(the_model)]="modelClicked" [mes_modeles]="filteredModels"></app-list>
  </div>
  <div class="model-container">
    <app-model-details [the_model]="modelClicked" [(mes_modeles)]="filteredModels"></app-model-details>
  </div>
</div>
