ul {
  overflow-y: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;

  li {
    color: white;
    width: 100%;
    height: 230px;
    padding-top: 10px;
    background-color: #424242;
    border-radius: 5px;
    text-align: center;
  }
}

mat-divider {
  margin: 5px 15px;
  border: 2px solid rgb(24, 24, 92);
  border-radius: 5px;
}

.fit {
  height: 150px;
  width: 200px;

  padding: 0 10px;
}

.my-list {
  flex: 1 1 85%;
}
