
<!-- Change the list with the real datas from API -->
<ng-scrollbar>
<ul class="my-list">
  @for (model of mes_modeles; track model ) {
    <li (click)="openDetails(model.id)">
      <span>{{ model.name }}</span>
      <mat-divider></mat-divider>
      <img class="fit" src="../../../../assets/images/{{model.modelName}}.png" />
      <mat-divider></mat-divider>
      <span>{{model.date | frenchDate}}</span>
    </li>
  }
</ul>
</ng-scrollbar>
