<h2 mat-dialog-title>Vous êtes sur le point de supprimer {{data.name}}</h2>
<mat-dialog-content class="content">
  <p>Recopier le nom du modèle pour confirmer la suppression</p>

  <mat-form-field>
    <mat-label>{{data.name}}</mat-label>
    <input id="confirmDeletion" matInput (input)="compareFieldsBeforeDeletion()" [formControl]="controlDeletion">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" (click)="onNoClick()">Annuler</button>
  @if ( canUDelete ) {
    <button mat-flat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>Supprimer</button>
  }
</mat-dialog-actions>
