@if (
  the_model !== undefined && the_model !== null
) {
  <mat-card class="cstm-card">
    <mat-card-header>
      <mat-card-title class="cstm-title"> Modèle : {{the_model?.name}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-subtitle class="cstm-subtitle">Crée par : {{the_model?.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="my-card-content">
      <div><img class="fit-img" mat-card-image src="../../../../assets/images/{{the_model?.modelName}}.png" alt="Photo de {{the_model?.name}}"></div>
      <div class="model-data">
        <b>Publié le :</b><p>{{the_model?.date | frenchDate}}</p>
        <b>Polygones :</b><p>{{the_model?.polygons}}</p>
        <b>Description :</b><p>{{the_model?.description}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="openDialog()">Edit</button>
      <button mat-flat-button color="warn" (click)="openDialogDeletion()">Delete</button>
    </mat-card-actions>
  </mat-card>
}

