button {
  margin: 10px;
}

.cstm-card {
  margin-top: 15px;
  margin-right: 15px;
  border: 4px solid rgb(24, 24, 92);
}

.fit-img {
  width: 512px;
  height: 512px;
}

.my-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  color: white;
  letter-spacing: 1px;
}


.model-data {
  font-size: 2em;
  line-height: 35px;
}

.cstm-title {
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: normal;
  color: white;
}

.cstm-subtitle {
  font-size: 3em;
  font-weight: normal;
  color: white;
  padding-bottom: 20px;
  padding-right: 30px;
  border-bottom: 4px solid rgb(24, 24, 92);
  border-radius: 4px;
}





